body {
    background-color: rgb(18, 18, 18);
}

h1 {
    color: white;
    font-size: 4rem;
}

.title {
    text-align: center;
}

.input {
    size: 100rem;
    color: black;
    width: 50rem;
    height: 20rem;
}

.window {
    text-align: center;
}